@import 'variables';
@import 'demo';

h1 {
  padding-bottom: 40px;
}

$btn-size: 40px;

.scroll-button {
  position: fixed;
  z-index: 9999;
  right: 20px;
  bottom: 20px;
  width: $btn-size;
  height: $btn-size;
  transition: all .25s ease-in-out;
  border-radius: calc(#{$btn-size} / 2);
  opacity: 0;
  color: $white;
  font-size: 16px;
  line-height: $btn-size;
  text-align: center;
  cursor: pointer;

  &.is-active {
    opacity: 1;
  }
}
